<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
  </head>
  <body>
    <!-- 우리가 object_list를 받아서 반복문 -->
    {% for book in object_list %}
    <h1 style="color: darkgreen">{{book.id}} : {{book.author}}</h1>
    <!-- 원래 object author.name안해도 되는 이유는 def에서 정의해서 됨 -->
    <!-- <h5>Author_location : {{ book.author.location }}</h5>
   
    <h3>Name : {{ book.name }}</h3>
    <h3>Description : {{ book.description }}</h3>
    <h3>Price : {{ book.price }}</h3>
    <h3>Shipping cost : {{ book.shipping_cost }}</h3>
    <h3>Quantity : {{ book.quantity }}</h3> -->
    {% endfor %}
  </body>
</html>
