<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ object.name }}</title>
  </head>
  <body>
    <h2 style="color: darkolivegreen">Book name : {{ object.name }}</h2>
    <h2>Description : {{ object.description }}</h2>
    <h2>Author : {{ object.author.name }}</h2>
    <h2>Location : {{ object.author.location }}</h2>
    <h2>Quantity : {{ object.quantity }}</h2>
    <h2>shipping_cost : {{ object.shipping_cost }}</h2>
  </body>
</html>
